<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.liveoak.example.android.chat" >

    <!-- PERMISSIONS REQUIRED -->
    <!-- INTERNET: in order to access a network -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- VIBRATE: Can vibrate the device when a notification is received -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Permissions required for messaging -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="io.liveoak.example.android.chat.chatapplication.permission.C2D_MESSAGE" />
    <permission android:name="io.liveoak.example.android.chat.chatapplication.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- /PERMISSIONS REQUIRED -->



    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/liveoak_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ChatActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsernameActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <receiver
            android:name="org.jboss.aerogear.android.unifiedpush.AeroGearGCMMessageReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="io.liveoak.android.chat.chatapplication" />
            </intent-filter>

            <meta-data
                android:name="DEFAULT_MESSAGE_HANDLER_KEY"
                android:value="io.liveoak.example.android.chat.NotificationHandler" />
        </receiver>

    </application>

</manifest>
